*{
    margin: 0;
    padding: 0;
    font-family: "Sogeu IU" Arial, Helvetica, sans-serif;
}
span{
    font-size: 60px;
    font-weight: bold;
    color: #9BC472;
}
.logo{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.tit{
    color: #9BC472;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(imagedefont.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background:pink;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
}
/* Style Section Course */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color: #777;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row .course-col{
    flex-basis: 30%;
    background: #f5beb4;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(20, 20, 20, 0.2);
}
@media(max-width : 700px){
    .row{
        flex-direction: column;
    }
}
/* ---------------------campus---------------------      */
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col { 
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: static;
    overflow: hidden;
}
.campus-col img{
    width: 80%;
    height: 80%;
    display: inline;
}
/*----------------footer------------------*/
footer{
    background:#f5beb4;
    height: auto;
    width: 100%;
    font-family: "open Sans";
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    font-size: 14px;
}
.socilas{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socilas li{
    margin: 0 10px;
}
.socilas a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.footer-bottom{
    background:#f5beb4;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
/*-------Espaces membres-------*/
.container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #9BC472;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #9BC472;
    border: 1px solid #9BC472;
}

/* Set a style for all links */
a:link {
    text-decoration: none;
    color:#9BC472 ;
    
  }
  
  a:visited {
    text-decoration: none;
    color: #739680;
  }
  
  a:hover {
    text-decoration: none;
    color:#9BC472;
  }
  
  a:active {
    text-decoration: none;
    color: #9BC472;
  }
  .police{
      color: #6f8d7a;
      font-family:  Brush Script MT;
      
  }
article{
    margin-left: 200px;
    margin-top: 20px;
}
.image{
    margin-left: 200px;
}

 
  